
body {
    margin: 5px;
    margin-top: 30px;
    font-family: sans-serif; /* Add this line */
background-color:burlywood;
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0px;
    height: 90px;

    line-height: 80px;
    background-color: gray;

}

header * {
    float:start;                    /* flex-wrap: wrap;*/
    display: inline;
    height: 90px;

}

header ul {  /* nav heading */
    padding: 0px;  

}

header li {
    margin-left: 100px;  
    font-weight: bold;
    text-transform: uppercase;
}



section{
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    text-align:center;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
   
}

  #carimg {     /* background image */
    width: 100%;
    height: 500px;
}
#car2img{
    width: 100%;
    height: 500px;
}
#car3img{
     width: 100%;
    height: 500px;
}

footer {
    text-align: center;
    padding: 40px;
}

#hero h1 {
    font-size: 30px;

}

section h2 {
    font-size: 30px;
    padding-top: 40px;
}

section h3 {
    font-size: 20px;
}

#Title{
    color: green;
    font-family: Montserrat, sans-serif;
    font-size: 30px; 
    padding-top: 60px;
    margin-top: 50px;
    margin-left: 90px;
    text-align: center;
}
/*panel       00-----*/
form {  
    height: 500px;
    width: 45%;
    border: 3px solid #f1f1f1;  
    background-color: lightblue;  
    justify-content:flex-end;
    margin-left: 20px;
} 

.container {                        
    width: 100%;
    margin-left: 20px;
    margin: 10px 20px;
    display: flex;
    padding: 30px;   

}

input[type=text] {   
    width: 100%;   
    margin: 10px 0px;  
    padding: 12px 10px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box; 

}
label{
    width:22px;
    display:inline;
}

#heading5  {
    font-size: 20px;
    display: inline;
    margin-left: 200px;
    color: red;
    text-transform: uppercase;
}

button {   
    background-color: #4CAF50;   
    width: 100%;  
    color: orange;   
    padding: 15px;   
    margin: 10px 10px;   
    border: none;   
    cursor: pointer; 
    margin-top: 100px;

}   
.hide {
    display: none;
}
header a:hover { 
    background-color: red; 
    color: blue; 
}

header a {
    text-decoration: none;
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
}

#contact{
 background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), 
     url('https://www.jamesedition.com/stories/cars/10-most-expensive-celebrity-cars-in-the-world-1000071/.');

  }





